<div class="test">Scrolling test</div>
  {{flexberry-infinite-scroll
    modelProjection=modelProjection
    content=infiniteModel
    lastReached=(action "lastReached")
    estimateRowHeight=20
    bufferSize=1
  }}